{% extends 'base.html' %}

{% block head %}
<title>Perpetuum Motors</title>
{% endblock %}

{% block body %}

	<div class="level">
			<div class="container">
					<p class="heading">Perpetuum Motors</p>
			</div>

			<div class="container">
					<video class="segment" controls>
						<source src="./static/videos/episode_1.mp4" type="video/mp4">
						The video can't be played on this browser.
					</video>
					<video class="segment" controls>
						<source src="./static/videos/episode_2.mp4" type="video/mp4">
						The video can't be played on this browser.
					</video>
			</div>

			<div class="container">
        <form method ="post" action="/" class="buttons">
          <input type=submit name="btn1" class="btn" value="First">
          <input type=submit name="btn2" class="btn" value="Second">
          <input type=submit name="btn3" class="btn" value="Both">
          <input type=submit name="btn4" class="btn" value="None">
        </form>
			</div>
    </div>

{% endblock %}
