@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700);

html,
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

h1 {
		text-transform: uppercase;
		font-size: 72px;
}

.btn {
	display: inline-block;
	font-size: 18px;
	background: #fff;
	color: #2a2a2a;
	cursor: pointer;
	padding: 17px 20px;
	position: relative;
  border-radius: 4px;
	min-width: 110px;
}

.btn:hover {
	color: #42A5F5;
}

.level {
	position: relative;
	padding: 1px 0 32px;
	text-align: center;
	background-image: url("../img/frame-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 100%;
}

.segment {
	width: 227px;
	height: 227px;
	margin: 20px;
}

.heading {
  padding: 0px;
  margin: 15px;
  font-size: 70px;
}

.container {
  margin: 18px;
	height: 218px;
}

.buttons {
	margin-top: 50px;
}
